@charset "utf-8";

body,td,th {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #1E1C21;
}

.headers {
    text-align: center;
    float: left;
    width: 45%;
    display: inline-block;
    font-size: x-large;
    height:30px;
}
.head1 {
    text-align: center;
    float: left;
    width: 10%;
    display: inline-block;
    font-size: x-large;
    height:30px;
}

.buttons {
    font-size:14px;
    line-height: 30px;
    width: 13%;
    height:30px;
    float:right;
    display:inline-block;
}

.in {
    color: #E0D216;	
}

.main {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    height: 500px;
    text-align: center;
}

.page_name {
    text-align: center;
    display:inline-block;
    font-size: large;
    border-bottom-left-radius: 100px 25px;
    border-bottom-right-radius: 100px 25px;
    height: 23x;
    color: white;
    background-color: #ff6600;
    width: 35%;
}
.page_name .a {
    width: 27%;
    float: none;
    display:inline-block;
    text-align: center;
    font-size: 90%;  
    font-style: italic;
}
.page_name .a1 {
    width: 1%;
    float: none;
    display:inline-block;
    text-align: center;
}

.onpage {
    color: rgb(2,10,165);
    
    font-size: 110%;
    font-style: normal;
}

.table,h2 {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-top:1px;

}

.tableButtons {
    display:inline-block;
    width: 100%;
    margin: 5px 0px;
}

.button {
    background-color: #ff6600;
    border-color: black;
    border-radius: 8px;
    border-width: 2px;
    color: white;
}

.add {	
    margin: 20px 0 ;
    margin-left:40%;
    width: 20%;
    border-radius: 50px;
    border-color: black;
    border-width: 10px;
    background-color: #464B9C;	
    padding-top: 1px;
    padding-bottom: 28px;
}

.add h2 {
    color: white;
}

.add input {
    width: 50%;
}

.addbutton {
    background-color: #4F54AE;
    border-color: black;
    border-radius: 8px;
    border-width: 2px;
    margin-top: 10px;
    color: white;
    width: 13%;
    font-size: 19px;
}

.advtable {
    border: 0;
    width: 70%;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 0px;
    display: inline-table;
    word-wrap:break-word;
}

.advtableheader {
    text-align:center;
    padding: 4px;
    background-color: #32356E;
    color: white;
}

.advtableoddrow {
    text-align:center;
    background-color: white;
}

.advtableevenrow {
    text-align:center;
    background-color: white;
}

.det {	
    margin: 17px 0 ;
    display: inline-block;
    width: 27%;
    border-radius: 90px;
    border-color: black;
    border-width: 10px;
    background-color: #ff6600;	
    padding: 0px 3%;
    padding-top: 1px;
    padding-bottom: 10px;
    color: white;
    word-wrap:break-word;
    font-size: 18px;
    
}

.det h2 {
    color: #4F54AE;
    margin-top: 2%;
}

.det h3 {
    color: #4F54AE;
    margin-top: 2%;
}

.onmain {
    width: 17%;
    border-style: solid;
    display: inline-block;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    background-color: #ff6600;
}
